<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>home</title>

    <style>

        body{
            margin: 0;
            padding: 0;
            background: #487eb0;
        }

        #uploadLabel{
            background: green;
            color: white;
            border-radius: 16px;
            cursor: pointer;
        }

        #href{
            position:absolute;
            left:85%;
            top: 5%;
        }

        #user{
            position:absolute;
            left:85%;
            top: 5%;
        }

        #img{
            position:absolute;
            left:40%;
        }

        #information{
            position:absolute;
            left:40%;
            top: 25%;
        }

    </style>

    <script>
        window.onload = function(){

            // 绑定注销按钮
            var logout = document.getElementById("logout");
            logout.onclick = function logoutAccount(){
                if(confirm("是否登出?")){
                    var xmlhttp = new XMLHttpRequest();
                    var url = "/html/logout";
                    url += "?case=logout";
                    xmlhttp.open("GET",url,true);
                    xmlhttp.send();
                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState===4 && xmlhttp.status===200){
                            location.reload();
                        }
                    };
                }
            };

            // 绑定修改信息按钮
            var setting = document.getElementById("settingButton");
            setting.onclick = function doSetting(){
                document.getElementById("settingButton").style.display="none";
                document.getElementById("details").style.display="none";
                document.getElementById("setting").style.display="inline";
            };

        };
    </script>

</head>
<body>

<div id="href" th:if="${session.user} eq null">
    <a id="login" th:href="@{/html/login}">登录</a>
    <a id="register" th:href="@{/html/register}">注册</a>
</div>

<div id="user" th:if="${session.user} ne null">
    <a id="welcome" th:value="${session.user.userName}"></a>
    <button id="logout" type="button">注销</button>
</div>

<br><br>
<div id="img" th:if="${session.user} ne null">
    <img th:src="@{'/img/' + ${session.user.portrait}}"
         id="portrait" width="80" height="80"
         style="border-radius: 100px;"/>

    <input type="file" id="imgToUpload" style="display: none"
           onchange="uploadImg(this)" accept="image/*">
    <label for="imgToUpload" id="uploadLabel">选择头像</label>
    <script type="text/javascript">
        // 待上传图片显示
        function uploadImg(obj) {
            var file = obj.files[0];
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById("portrait");
                img.src = this.result;
            };
            reader.readAsDataURL(file);
        }
    </script>

    <input type="button" onclick="uploadFile()" value="上传头像">
    <a id="progressNumber"></a>
    <script>
        // 上传图片
        function uploadFile() {
            var fd = new FormData();
            fd.append("imgToUpload", document.getElementById('imgToUpload').files[0]);
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.open("POST", "/html/uploadImg");
            xhr.send(fd);
        }

        // 上传进度百分比
        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            } else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        // 上传完成弹窗提示
        function uploadComplete(evt) {
            alert("上传完成!");
        }
    </script>
</div>

<div id="information" th:if="${session.user} ne null">
    <h1>个人信息</h1>
    <button id="settingButton" type="button">修改信息</button>

    <div id="details">
        <p id="name" th:text="'昵称：' + ${session.user.userName}"></p>
        <p id="sex" th:text="'性别：' + ${session.user.sex}"></p>
        <p id="age" th:text="'年龄：' + ${session.user.age}"></p>
    </div>

    <form id="setting" th:action="@{/html/setting}" method="get" style="display: none">
        <!-- 隐藏域放case -->
        <input type="hidden" name="case" value="setting">
        <div>
            性别:
            <input type="radio" name="sex" value="保密"
                   th:checked="(${session.user.sex} == '保密')">保密
            <input type="radio" name="sex" value="雄性"
                   th:checked="(${session.user.sex} == '雄性')">雄性
            <input type="radio" name="sex" value="雌性"
                   th:checked="(${session.user.sex} == '雌性')">雌性
            <script>
                // 设置默认性别
                (function (rName,rValue){
                    var rObj = document.getElementsByName(rName);
                    for(var i = 0; i < rObj.length; i ++){
                        if(rObj[i].value === rValue){
                            rObj[i].checked =  "checked";
                        }
                    }
                })("setSex",[[${session.user.sex}]]);
            </script>
        </div>
        <br>
        <div>
            年龄:
            <select id="setAge" name="age">
                <script th:inline="javascript">
                    // 设置默认年龄
                    (function(){
                        var set = document.getElementById("setAge");
                        var age = [[${session.user.age}]];
                        for(var i = 0; i < 100; i ++){
                            var opt = document.createElement("option");
                            if(i === 0){
                                opt.value = "保密";
                                opt.innerHTML = "保密";
                            } else {
                                opt.value = i;
                                opt.innerHTML = i;
                            }
                            if(age == i){
                                opt.selected = true;
                            }
                            set.appendChild(opt);
                        }
                    })();
                </script>
            </select>
        </div>
        <br>
        <input type="submit" value="保存修改" id="saveSetting">
    </form>

</div>

</body>
</html>